---
layout: titlepage
title: Drafts
---

<ul class="posts">
    {% for post in site.posts %}
      {% if post.tags contains 'draft' %}
        <li>
            {% include post-header.liquid %}
        </li>
      {% endif %}
    {% endfor %}
</ul>

