* {
    text-rendering: optimizeLegibility;
}

body {
    border-top: 8px solid #444;
    padding: 40px 0;
    text-align: justify;
    line-height: 1.3;
    font-size: 100%;
    background-color: #000000;
    color: #66ED11;
}

a { 
  color: #7F9718; 
}

a:link {
       color:#7F9718;
       text-decoration: underline;
}

a:visited {
          color:#7F9718;
}

a:hover {
        background-color: #66ED11;
        color: #000000;
}

a:active {
         color:#0000FF;
}

strong { 
       color: #7F9718;
}

em { 
   color: #7F9718; 
}

sup {
    font-size: 25%;
    line-height: 0.5em;
}

sub {
    font-size: 25%;
    line-height: 0.5em;
}

h1, h2, h3, h4 {
    font-family: 'ProzaLibreRegular', Helvetica, Arial, sans-serif;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

h1 {
    font-size: 2.25em;
    line-height: 120%;
    font-weight: 600;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.3em;
    margin: 1em 0 0.5em 0;
}

h4 {
    font-size: 1.1em;
    font-weight: 450;
    margin-bottom: 0.8em;
}

footer {
    font-size: 0.8em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.8em;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.8em;
}

.social {
    margin: 1.5em 0em 1.5em 2.5em;
}

.subscribe {
    list-style-image: url(../img/glyphicons_417_rss.png);
}

.twitter {
    list-style-image: url(../img/glyphicons_411_twitter.png);
}

.github {
    list-style-image: url(../img/glyphicons_401_github.png);
}

.linkedin {
    list-style-image: url(../img/glyphicons_397_linked_in.png);
}

.name a {
    color: #66ED11;
    text-decoration: none;
}

.name a:hover {
    background-color: #66ED11;
    color: #000;
}

.main-header {
    margin-top: 3%;
    margin-bottom: 3%;
}

.main-header b {
    color: #7F9718;
}

.content {
    font-family: 'ProzaLibreRegular', Georgia, serif;
    /* font-family: 'OFL Sorts Mill Goudy', 'OFL Sorts Mill Goudy TT', Georgia, serif; */
}

.content p:first-child {
    text-indent: 0;
}

.content p {
    text-indent: 1.5em;
}

.content code, .content pre {
    /* font-family: 'Inconsolata', monospace; */
    /* font-size: inherit; */
    font-family: 'Droid Sans Mono',consolas,monospace;
    font-size: 12px;
}

.content pre code {
    color: #cfbfad;
}

.content code {
    color: #7F9718;
    border: none;
    background: inherit;
}

.content blockquote p, .content li {
    text-align: justify;
    font-size: inherit;
    line-height: inherit;
}

.content blockquote {
    margin: 1.3em;
    font-style: italic;
}

.content pre {
    // margin: 1em 0.3em;
    // padding: 0.6em;
    // border-radius: 4px;
    background-color: #1e1e27;
    color: #cfbfad;
    // white-space: pre-wrap;
    // white-space: -moz-pre-wrap !important;
    // white-space: -pre-wrap;
    // white-space: -o-pre-wrap;
    // word-wrap: break-word;
}

.content .noindent {
    text-indent: 0;
}

.content .pagination {
    font-family: 'ProzaLibreRegular', Helvetica, Arial, sans-serif;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

.post {
    margin-bottom: 3em;
}

.post-header {
    font-family: 'ProzaLibreRegular', Helvetica, Arial, sans-serif;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

.post-header h2 {
    color: #000;
}

.post-header .meta {
    color: #7F9718;
    font-size: 0.9em;
    margin-top: 6px;
}

.post-header h2 a{
    color: #66ED11; 
    text-decoration: none;
}

.post-header h2 a:hover {
    background-color: #66ED11;
    color: #000000;
    text-decoration: none;
}

.posts li {
    list-style-type: none;
    margin-top: 0.5em;
}

.posts h2 {
    font-size: 1.2em;
}

#MathJax_Message {
    display: none;
}

.polaroid {
    padding: 10px 10px 40px 10px;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px #555;
    -webkit-border-radius: 2px;
    -webkit-transform: rotate(1deg);
    display: block;
    margin: 2em auto 2em auto;
}

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f0f0f0; }
.highlight .c { color: #60a0b0; font-style: italic } /* Comment */
// .highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #007020; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #007020 } /* Comment.Preproc */
.highlight .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.highlight .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #007020 } /* Keyword.Pseudo */
.highlight .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #902000 } /* Keyword.Type */
.highlight .m { color: #40a070 } /* Literal.Number */
.highlight .s { color: #4070a0 } /* Literal.String */
.highlight .na { color: #4070a0 } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.highlight .no { color: #60add5 } /* Name.Constant */
.highlight .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #007020 } /* Name.Exception */
.highlight .nf { color: #06287e } /* Name.Function */
.highlight .nl { color: #002070; font-weight: bold } /* Name.Label */
.highlight .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #062873; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #bb60d5 } /* Name.Variable */
.highlight .ow { color: #007020; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #40a070 } /* Literal.Number.Float */
.highlight .mh { color: #40a070 } /* Literal.Number.Hex */
.highlight .mi { color: #40a070 } /* Literal.Number.Integer */
.highlight .mo { color: #40a070 } /* Literal.Number.Oct */
.highlight .sb { color: #4070a0 } /* Literal.String.Backtick */
.highlight .sc { color: #4070a0 } /* Literal.String.Char */
.highlight .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4070a0 } /* Literal.String.Double */
.highlight .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #4070a0 } /* Literal.String.Heredoc */
.highlight .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { color: #c65d09 } /* Literal.String.Other */
.highlight .sr { color: #235388 } /* Literal.String.Regex */
.highlight .s1 { color: #4070a0 } /* Literal.String.Single */
.highlight .ss { color: #517918 } /* Literal.String.Symbol */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #bb60d5 } /* Name.Variable.Class */
.highlight .vg { color: #bb60d5 } /* Name.Variable.Global */
.highlight .vi { color: #bb60d5 } /* Name.Variable.Instance */
.highlight .il { color: #40a070 } /* Literal.Number.Integer.Long */
.highlight .hll { background-color: #404040 }
.highlight  { background: #202020; color: #d0d0d0 }
.highlight .c { color: #999999; font-style: italic } /* Comment */
// .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .g { color: #d0d0d0 } /* Generic */
.highlight .k { color: #6ab825; font-weight: bold } /* Keyword */
.highlight .l { color: #d0d0d0 } /* Literal */
.highlight .n { color: #d0d0d0 } /* Name */
.highlight .o { color: #d0d0d0 } /* Operator */
.highlight .x { color: #d0d0d0 } /* Other */
.highlight .p { color: #d0d0d0 } /* Punctuation */
.highlight .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999999; font-style: italic } /* Comment.Single */
.highlight .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.highlight .gd { color: #d22323 } /* Generic.Deleted */
.highlight .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #d22323 } /* Generic.Error */
.highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #589819 } /* Generic.Inserted */
.highlight .go { color: #cccccc } /* Generic.Output */
.highlight .gp { color: #aaaaaa } /* Generic.Prompt */
.highlight .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
// .highlight .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.highlight .gu { color: #ffffff; } /* Generic.Subheading */
.highlight .gt { color: #d22323 } /* Generic.Traceback */
.highlight .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #6ab825 } /* Keyword.Pseudo */
.highlight .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #d0d0d0 } /* Literal.Date */
.highlight .m { color: #3677a9 } /* Literal.Number */
.highlight .s { color: #ed9d13 } /* Literal.String */
.highlight .na { color: #bbbbbb } /* Name.Attribute */
.highlight .nb { color: #24909d } /* Name.Builtin */
//.highlight .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.highlight .nc { color: #447fcf; } /* Name.Class */
.highlight .no { color: #40ffff } /* Name.Constant */
.highlight .nd { color: #ffa500 } /* Name.Decorator */
.highlight .ni { color: #d0d0d0 } /* Name.Entity */
.highlight .ne { color: #bbbbbb } /* Name.Exception */
.highlight .nf { color: #447fcf } /* Name.Function */
.highlight .nl { color: #d0d0d0 } /* Name.Label */
//.highlight .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.highlight .nn { color: #447fcf; } /* Name.Namespace */
.highlight .nx { color: #d0d0d0 } /* Name.Other */
.highlight .py { color: #d0d0d0 } /* Name.Property */
.highlight .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #40ffff } /* Name.Variable */
.highlight .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.highlight .w { color: #666666 } /* Text.Whitespace */
.highlight .mf { color: #3677a9 } /* Literal.Number.Float */
.highlight .mh { color: #3677a9 } /* Literal.Number.Hex */
.highlight .mi { color: #3677a9 } /* Literal.Number.Integer */
.highlight .mo { color: #3677a9 } /* Literal.Number.Oct */
.highlight .sb { color: #ed9d13 } /* Literal.String.Backtick */
.highlight .sc { color: #ed9d13 } /* Literal.String.Char */
.highlight .sd { color: #ed9d13 } /* Literal.String.Doc */
.highlight .s2 { color: #ed9d13 } /* Literal.String.Double */
.highlight .se { color: #ed9d13 } /* Literal.String.Escape */
.highlight .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.highlight .si { color: #ed9d13 } /* Literal.String.Interpol */
.highlight .sx { color: #ffa500 } /* Literal.String.Other */
.highlight .sr { color: #ed9d13 } /* Literal.String.Regex */
.highlight .s1 { color: #ed9d13 } /* Literal.String.Single */
.highlight .ss { color: #ed9d13 } /* Literal.String.Symbol */
.highlight .bp { color: #24909d } /* Name.Builtin.Pseudo */
.highlight .vc { color: #40ffff } /* Name.Variable.Class */
.highlight .vg { color: #40ffff } /* Name.Variable.Global */
.highlight .vi { color: #40ffff } /* Name.Variable.Instance */
.highlight .il { color: #3677a9 } /* Literal.Number.Integer.Long */

.nav_ {
  list-style: none;
}

.copyleft {
  -moz-transform: scaleX(-1); 
  -o-transform: scaleX(-1); 
  -webkit-transform: scaleX(-1); 
  transform: scaleX(-1); 
  display: inline-block; 
}

blockquote {
  border-left: 5px solid #7F9718;
}

hr {
  border-top: 1px solid #66ED11;
  border-bottom: 1px solid #66ED11;
}

.page-header {
  border-bottom: 1px solid #66ED11;
}

.pagination a {
  border: 1px solid #66ED11;
}

.pagination .active a {
  color: #000000;
  cursor: default;
}

.pagination a:hover, .pagination .active a {
  background-color: #66ED11;
}

.pagination .disabled span, 
.pagination .disabled a, 
.pagination .disabled a:hover {
  color: #66ED11;
}

pre.lineno {
  width: 26px;
}
