---
layout: titlepage
title: Posts
---

<ul class="posts">
    {% for post in site.posts %}
      {% if    post.tags contains 'snippet' %}
      {% elsif post.tags contains 'draft'   %}
      {% else %}
        <li>
            {% include post-header.liquid %}
        </li>
      {% endif %}
    {% endfor %}
</ul>
