<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<link rel="stylesheet" media="screen" type="text/css" href="https://fontlibrary.org/face/proza-libre" />-->
	<link rel="stylesheet" media="screen" type="text/css" href="/assets/fonts/proza-libre.css" />
        <meta charset="utf-8">

        {% if page.title %}
        <title>{{ page.title }} | Blog: Mr. Mathiesen</title>
        {% else %}
        <title>Blog: Mr. Mathiesen</title>
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Ramón Soto Mathiesen">
        <meta name="description" content="Blog: Mr. Mathiesen">

        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-responsive.min.css">

        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                extensions: [ /* "tex2jax.js" */ ],
                jax: ["input/TeX", "output/HTML-CSS"],
                tex2jax: {
                    inlineMath: [ ['$','$'] ],
                    displayMath: [ ['$$','$$'] ],
                    processEscapes: true
                },
                "HTML-CSS": {
                    scale: 90
                }
            });
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row main-header">
                <!--<div class="span5 offset1 name">-->
		<div class="span8 offset2 name">
                    <h2><a href="/">Blog: <b>Mr. Math</b>iesen</a></h2>
                </div>

                <!--<div class="span3 offset2">-->
                <div class="span8 offset2">
                    <!--<ul class="nav nav-pills pull-right">-->
                    <ul class="nav_ nav-pills pull-right">
                        <li><a href="/posts">Posts</a></li>
                        <li><a href="/snippets">Snippets</a></li>
                        <li><a href="/talks">Talks</a></li>
                        <li><a href="/blogs">Blogs</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="span8 offset2">
                    {{ content }}

                    <hr>

                    <footer>
                        <p class="pull-right"><a href="#">Back to top</a></p>
                        <ul class="social">
                            <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/ramonsotomathiesen">linkedin.com/in/ramonsotomathiesen</a></li>
                        </ul>
                        <p>Copyleft <span class="copyleft">&copy;</span> 2006 &mdash; {{ site.time | date: "%Y" }} Ramón Soto Mathiesen. See <a href="/license">licenses</a> for more information.</p>
                        <p>Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
                    </footer>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
    </body>
</html>
